---
import { ThemeToggle } from "../components/ThemeToggle";
import Layout from "../layouts/Layout.astro";
---

<Layout title="test">
	<ThemeToggle client:load />
	<div class="text-primary font-bold">hi</div>
</Layout>
